.expense-item{
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D78FEE;
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.expense-left{
    display: flex;
    flex-direction: column;
}
.expense-title{
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 600;
}
.expense-meta{
    font-size: 13px;
    color: rgb(63, 63, 63);
}
.expense-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.expense-amount{
    font-weight: 600;
}
.delete-btn{
    background-color: red;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s ease-in;
}
.delete-btn:hover{
    background-color: rgb(246, 38, 38);
}
.edit-btn{
    background-color: yellow;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s ease-out;
}
.edit-btn:hover{
    background-color: rgb(255, 255, 98);
}