.expense-summary-section{
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 16px;
}

.summary-card{
    background-color: #FED2E2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.summary-card h3{
    font-size: 14px;
    margin-bottom: 8px;
}
.summary-amount{
    font-size: 22px;
    font-weight: 600;
    color: #4E56C0;
}