.expense-form-section{
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}
.expense-form{
    background-color: #C68EFD;
    padding: 24px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.expense-form h2{
    color: white;
    text-align: center;
    font-weight: bold;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-control label{
    font-size: 16px;
    margin-bottom: 6px;
}
.form-control input, .form-control select{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid;
}
.btn-primary{
    margin-top: 10px;
    background-color: #3B0270;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.btn-primary:hover{
    background-color: #620cb3;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
}
.add-icon{
    font-size: 25px;
    color: white;
}
.add-expense-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}